body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 5%;
  background-color: rgba(1, 1, 1, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a.active,
nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.logo img {
  width: 20%;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  font-size: 18px;
}

.menu li a {
  text-decoration: none;
  font-weight: bold;
}

.btn_login,
.btn_register {
  background-color: #54cc09;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}
.prodi {
  background-color: rgb(61, 255, 239);
  padding: 11px 10px;
  border-radius: 90px;
  cursor: pointer;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 5.8%;
  width: 30cap;
}

img {
  width: 40%;
}

h5 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 5px;
  width: 50cap;
}
h3 {
  color: black;
}
#kontak {
  margin-top: 1.2rem;
}
#masalah {
  margin-top: -1pc;
  text-align: center;
}
.kontak {
  display: flex;
  margin-top: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

ion-icon[name="person-circle-outline"],
ion-icon[name="send-outline"],
ion-icon[name="call-outline"] {
  margin-right: 0.5rem;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #010101;
  border-radius: 8px;
}

#btn-kirim {
  color: #ffffff;
  background-color: #001eff;
  margin: 0 66px;
  border-radius: 10px;
}
footer {
  margin-top: 3pc;
  text-align: center;
  color: blue;
}

footer .sosial {
  padding: 0.5px;
  font-size: 2pc;
}

footer .sosial a .wa {
  color: #0dff00;
  margin: 1rem;
}
footer .sosial a .fb {
  color: #0a57f0;
  margin: 1rem;
}
footer .sosial a .yt {
  color: #f00a0a;
  margin: 1rem;
}
footer .sosial a .tt {
  color: rgb(0, 0, 0);
  margin: 1rem;
}
footer .sosial a .wa:hover,
footer .sosial a .yt:hover,
footer .sosial a .fb:hover,
footer .sosial a .tt:hover {
  color: black;
  transform: scale(1.5);
}

/* Page Login dan register*/
.error-text {
  color: red;
  position: relative;
  top: -39px;
  left: 100px;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.form-box {
  position: relative;
  width: 400px;
  height: 420px;
  background: transparent;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 45px 100px;
  width: 310px;
}

.inputbox label {
  position: absolute;
  top: -90%;
  color: black;
  font-size: 1em;
  pointer-events: none;
}

.inputbox input {
  width: 86%;
  height: 25px;
  font-size: 1em;
  padding: 0 12px 0 5px;
  padding-left: 28px;
}

.inputbox input:focus {
  outline: none;
}

.inputbox ion-icon {
  position: absolute;
  top: 5.5px;
  right: 285px;
  color: black;
  font-size: 1.2em;
}

.forget {
  margin: -30px 100px;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  color: white;
  margin: -30px 90px;
  width: 65%;
  height: 40px;
  border-radius: 40px;
  background-color: blue;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: 0.9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register p1 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.register p1 a:hover {
  text-decoration: underline;
}
#Prompt_Box {
  color: #010101;
  margin-top: -20%;
}
/* Responsive perangkat seluler */
@media only screen and (max-width: 768px) {
  .container {
    padding: 40px;
  }

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
    height: auto;
  }
  .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .menu li {
    margin: 0 10px;
    font-size: 7px;
  }

  .btn_login,
  .btn_register {
    width: 100%;
    max-width: 150px;
    padding: 4px 10px;
    border-radius: 8px;
    text-align: center;
  }
  .prodi {
    width: 88px;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 10px;
    margin-right: 120px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 10px;
    width: 90%;
  }

  img {
    width: 95%;
    height: auto;
  }

  p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 10px;
    width: 29cap;
  }
  .kontak {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #map {
    width: 100%;
  }

  .form-container {
    width: 100%;
    margin-top: 1.3rem;
    margin-left: 30px;
  }

  #masalah {
    margin-top: -1pc;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 5px;
  }

  #btn-kirim {
    color: #ffffff;
    background-color: #001eff;
    margin: 0 30px;
    border-radius: 10px;
    width: 115px;
    height: 23px;
    margin-left: 90px;
  }
  footer {
    margin-top: 5px;
  }
  #follow {
    margin-bottom: -10px;
  }
  #Onload {
    margin-top: -15px;
  }

  .form-box {
    width: 90%;
    max-width: 310px;
    height: auto;
    padding: 20px;
    margin-top: 10px;
  }

  .forget {
    margin-bottom: 10px;
  }

  button {
    height: 40px;
    font-size: 1em;
    margin-top: 10px;
  }

  #menu {
    margin-right: 45px;
  }
}
